// Colors Theme(s) for the framework
// Split Complementary Colors - http://www.colorhexa.com/63afe7

// Base Yellow
@yellow_base: #e7dd63;

// Base Blue
@blue_base: #63afe7;

// Base Corral (red)
@coral_base: #e7636d;